.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__label {
  align-self: flex-start;
  margin: 20px 0 10px;
  color: #8B8B8B;
  font-size: 10px;
  line-height: 12px;
  font-weight: normal;
}

.form__label:first-of-type {
  margin: 0 0 10px;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 5px 0;
  background-color: #202020;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  outline: none;
  border-bottom: solid 1px #424242;
}

.form__input_password{
  color: #EE3465;
}

.form__input_error {
  width: 100%;
  font-size: 10px;
  font-weight: normal;
  line-height: 1.4;
  color: #EE3465;
  margin: 0;
  margin-bottom: 10px;
  text-align: left;
}

.form__button {
  width: 396px;
  max-width: 100%;
  height: 45px;
  margin: 134px 0 16px;
  padding: 0;
  border: none;
  border-radius: 3px;
  background-color: #4285F4;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  outline: none;
  cursor: pointer;
}

.form__button:hover {
  box-shadow: lawngreen 2px 2px 5px;
}

.form__button_disabled {
  background: #f8f8f8;
  color: #c2c2c2;
  color: #000;
  cursor: default;
  pointer-events: none;
}

.form__promt {
  margin: 0;
  color: #8B8B8B;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.form__link {
  text-decoration: none;
  color: #4285F4;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.form__link:hover {
  text-shadow: lawngreen 1px 1px 1px;
}


@media screen and (max-width: 1024px) {

  .form__button {
    margin: 172px 0 14px 0;
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 576px) {

  .form__button {
    width: 260px;
    margin: 172px 0 14px 0;
    font-size: 12px;
    line-height: 15px;
  }

  .form__promt {
    font-size: 12px;
    line-height: 15px;
  }
  
  .form__link {
    font-size: 12px;
    line-height: 15px;
  }
}