.not-found {
  height: 100vh;
}

.not-found__container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  margin: 246px 0 60px;
}

.not-found__error {
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  margin: 0;
}

.not-found__title {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 0;
}

.not-found__link {
  color: #4285F4;
  line-height: 17px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  margin: 184px 0 0;
}

.not-found__link:hover {
  text-shadow: fuchsia 2px 2px 1px;
}

@media screen and (max-width: 1279px) {
  .not-found__container {
    margin: 408px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .not-found__container {
    margin: 329px 0 0;
  }

  .not-found__error {
    font-size: 80px;
    line-height: 97px;
  }

  .not-found__title {
    font-size: 12px;
    line-height: 15px;
    margin: 10px 0 0;
  }

  .not-found__link {
    font-size: 12px;
    line-height: 15px;
    margin: 284px 0 0;
  }
}
