.search-form {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;
}

.search-form__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 80px 70px 70px;
  padding-bottom: 40px;
  border-bottom: 1px solid #424242;
  width: 100%;
}

.search-form__form {
  width: 100%;
}

.search-form__wrap {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

.search-form__text {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #8B8B8B;
}

.search-form__input {
  display: flex;
  width: 100%;
  background-color: #2f2f2f;
  border: none;
  border-radius: 4px;
  padding: 16px 0 16px 22px;
  outline: none;
  margin-right: 5px;
  text-align: start;
  color: #fff;
}

.search-form__input:focus {
  box-shadow: 0 0 1px 1px greenyellow;
  outline: none;
  border: none;
  border-radius: 2px;
  transition: .3s;
}

.search-form__submit {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  width: 70px;
  height: 44px;
  background-color: #4285F4;
  background-position: right;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  outline: none;
  color: #fff;
  margin-left: 10px;
  transition: linear .4s;
}

.search-form__submit:hover {
  border: solid 1px inherit;
  transform: scale(1.1);
  text-shadow: lawngreen 1px 1px 5px;
}

@media screen and (max-width: 1279px) {
  .search-form {
    margin: 80px 30px 0;
  }

  .search-form__input {
    padding: 16px 0 16px 22px;
    width: 100%;
  }

  .search-form__container {
    margin: 0 30px;
  }

  .search-form__submit {
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .search-form {
    margin: 81px 0 0;
  }

  .search-form__input {
    padding: 14px 0 14px 16px;
    width: 100%;
  }

  .search-form__container {
    padding-bottom: 44px;
    margin: 14px 14px;
  }

  .search-form__submit {
    margin-left: 0;
  }
}
